*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
 li{
    list-style: none;
}

header .container a:hover{
color: #f32133!important;
}

#sec-1{
    background: url("../images/banner7.jpg") no-repeat center center/cover;
}
.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border:  solid 1px #f32133 ;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #f32133;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }

  
  .animated-button span:hover{
    color: rgb(255, 255, 255);
  }
  
  .animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #f32133;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .animated-button span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .animated-button:hover {
    /* box-shadow: 0 0 0 2px #FF324D; */
    color: #ffffff;
  }
  
  .animated-button:active {
    scale: 0.95;
  }
  
  .animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
  }
  
  .content-sec-1 h2{
   font-weight: 600;
   font-family: serif;
   font-size: 80px;
  }
  .content-sec-1 h6{
    font-weight: 600;
  }
  .content-sec-1 {
    padding: 70px 0;
  }




#sec-2 .container .row{
    display: flex;
 align-items: center;
 justify-content: space-around;
 width: 100%;
}
#sec-2 .container .row .icon_box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border:  1px solid #ddd ;
    margin: 0 -15px;

   
}
#sec-2 .container .row .icon_box .icon{
    font-size: 40px;
}

.shop_container img{
width: 250px;
}

.btn{
    border: 1px solid  #FF324D;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    background-color: #eb4c61;
    padding: 10px 20px;
    margin: 10px 0;
}

.btncarousel{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:220.52px;
    min-height: 56px;
    font-family: calibri;
    font-size: 1.2em;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    border: 2px solid var(--main-clr);
    color: var(--main-clr);
    background-color : transparent;
    overflow: hidden;
}

.btncarousel i {
    font-size: 1em;
    padding: 0 10px;
    transition: all 0.5s linear;
}
 

.btn:hover i {
    transform: translateX(10px);
}

.btncarousel::before, .btn::after{
content: "";
position: absolute;
width: 100%;
height: 100%;
top: -100%;
left: 0;
background-color: var(--main-clr);
z-index: -1;
transition: all 400ms ease-in;
}
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    text-transform: capitalize;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ff324d;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #ff324d;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #ff324d;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #ff324d;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  





.product_box{
    border:  1px solid #ddd ;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
   
}

#sec-3 .container .text-center{
    text-align: center!important;
}

#sec-3 .container .title a{
  font-size: 15px;
 color: black;
}
#sec-3 .container .title a:hover{
    color: #ff324d;
}

.single_banner img{
width: 100%;

}
.single_banner:hover{
transform: scale(0.9);
}
#sec-5 img{
    border-radius: 20px;
}
#sec-5 .header-banner:hover{
 cursor: pointer;
 transform: scale(1.1);
 
}



#sec-6 span img{
    width: 160px;
}

#sec-6 span{
    cursor: pointer;
}


footer .widget{
    margin-bottom: 30px;
}

footer .widget li{
    list-style: none;
}
footer .widget_title{
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 18px;
}
footer .widget a {
    color: white;
    text-decoration: none;
    margin: 2px 0 ;
    display: inline-block;
}
footer .widget a:hover{
    color: #e2223b;
}
footer .widget h6{
    margin-left: 30px;
    font-weight: 800;
}
.contact_info_light li i {
    border-color: #fff;
    color: #fff;
    margin-right :10px;
    margin-top :4px
}
.widget_links li {
    padding-top: 10px;
  
}
.form-control{
    border-radius: 30px;
    padding: 25px 20px;
}

.newsletter_form .btn-send{
    background-color: #FF324D;
    color: #fff;
    font-size: 20px;
    right: 5px;
    border: 0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    right: 20px;
  top: 125px;
}

 footer span{
    cursor: pointer;
}

.bottom_footer{
    border-top: 1px solid rgba(255,255,255,0.1);
}

@media only screen and (max-width: 992px){
    .shop_container .col-6{
        display: flex;
        max-width: 100%;
    }
    .shop_container img{
        width: 100%;
        }

        .banner_info , .fb_info2{
            font-size: 10px;
        }
        .content-sec-1 h2{
            font-weight: 600;
            font-family: serif;
            font-size: 30px;
           }
         
           .content-sec-1 {
            padding: 0;
          } 
          .content-sec-1 h6{
            font-weight: 300;
          }

          #sec-5 .banner_info{
            top: 30px;
           left: 50%;
          }
          
          #sec-5 .banner_info h5{
              font-size: 28px;
              font-weight: 700;
          }
          #sec-5 .banner_info h6{
            font-size: 28px;
            
        }
       
          #sec-5 .banner_info button{
              font-size: 15px;
          }
          
        
}

@media only screen and (min-width: 768px ){
    #sec-5 .banner_info{
        top: 2px;
       left: 50%;
      }
      
      #sec-5 .banner_info h5{
          font-size:15px;
          font-weight: 700;
      }
      #sec-5 .banner_info h6{
        font-size:10px;
        
    }
   
      #sec-5 .banner_info button{
          font-size: 8px;
          margin: 0;
        padding: 2px ;
      }

      #sec-4 .superSale{
           top: 2px;
      }
      #sec-4 .superSale button{
      
        padding: 5px;
        
      }

      #sec-4 .superSale h3{
        font-size: 20px;
      }
}


@media(min-width:1400px){
    #sec-5 .banner_info{
        top: 20px;
       left: 50%;
      }
      
      #sec-5 .banner_info h5{
          font-size: 18px;
          font-weight: 700;
      }
      #sec-5 .banner_info h6{
        font-size: 18px;
      
    }
      #sec-5 .banner_info button{
          font-size: 18px;
          padding: 10px ;
      }
      
}